body {

    background: LightBlue;
  font-family: monospace;
  font-size: 20px ;

}

div.side-by-side {
    display: flex;
    text-align: center;
    background-color:#d3e8e6
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:LightGrey;
    font-size: smaller;
}

div.people {
    display: flex;
    text-align: center;
    background-color:#d3e8e6;
    align-items: center;
}

div.amida {
    display: flex;
    text-align: center;
    background-color:#d3e8e6;
    align-items: center;
}


figcaption {
    
    background-color:white;
   
}

div.intro {text-align: center; color:white}

div.contain {text-align: center; color:white}

div.news {text-align: center;}

.footer {text-align:center; color:white}

.imgzoom{display: flex; flex-flow: row wrap; align-items: center; width: 75%; margin: 15px auto; padding: 1%; border-radius: 12px;}
    

.imgzoom img:hover {transform: scale(4.5);}



