body {

    background: LightBlue;
  font-family: monospace;

}

div.side-by-side {
    display: flex;
    text-align: center;
    background-color:#d3e8e6
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:LightGrey;
    font-size: smaller;
}

div.people {
    display: flex;
    text-align: center;
    background-color:#d3e8e6;
    align-items: center;
}


figcaption {
    
    background-color:white;
   
}