body {

    background: LightBlue;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}

div.side-by-side {
    display: flex;
    text-align: center;
    background-color:#d3e8e6
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:LightGrey;
    font-size: smaller;
}